Allow Sub-Protocol negotiation during the Websocket handshake.

The [RFC6455 Section 1.9](http://tools.ietf.org/html/rfc6455#section-1.9) leaves us with a header field to negotiate a sub-protocol during the Websocket handshake. It would be nice if you could allow your library users to interfere at this time so we can see which protocols are advertised by the client, choose one of them or enforce a completely different value and send it back to the client. Of course the ``ws_handler`` needs to know which protocol has been chosen. 

Can you have a look at this pull request and tell me if it works for you? Thanks!

Haven't tested it but the PR looks amazing! I especially like the way one can override `select_subprotocol` to interfere at this point while the default implementation already looks perfect. Thank you very much for this one :+1: 