Does this library implement redirect?

Hello. First of all, thanks for your great plugin. It is really fast and well documented. I really love it.

Btw, [RFC 6455 Section 4.2.2.3](https://tools.ietf.org/html/rfc6455.html#section-4.2.2) said

> The server MAY redirect the client using a 3xx status code
       [RFC2616].  Note that this step can happen together with, before,
       or after the optional authentication step described above.

But I could not find any documentation about redirection in this library.
So I'm wondering if this library support redirection or planning to support. 

Thank you.

Thank you!